@import 'abstracts/variables';

.nav-container{
    padding-left: 10px;
    display:flex;
    flex-direction: column;
}

.content{
    display:flex;
    align-items: flex-start;
}

.content button{
    margin: $nav-button-margin;
}

.content-container{
    min-width: $content-container-min-width;
    width: 100%;
}

mat-sidenav-container{
    height: 100%;
}

mat-sidenav{
    background: $nav-background;
    width: $nav-width;
}