<div style="width: 100%;">
    <!--    Achtung Mat toolbar default styling ist wie die bar beim site model. ggf. ein anderes element wählen oder 
            eine custom klasse einführen. z.B. content-toolbar                                                          -->
    <mat-toolbar class="content-toolbar">
        
        <mat-form-field>
            <input matInput placeholder="Search">
        </mat-form-field>
        <span> status: <span class="status-circle" style="background-color: green;"></span></span>
        <div class="">
            <button mat-icon-button (click)="Fullscreen=!Fullscreen" (click)="toggleFullScreen()"
                aria-label="Fullscreen Button">
                <mat-icon *ngIf="Fullscreen">fullscreen_exit</mat-icon>
                <mat-icon *ngIf="!Fullscreen">fullscreen</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="notification" aria-label="Notification Button">
                <mat-icon>notifications_none</mat-icon>
                <span class="badge badge-danger badge-danger badge-position">5</span>
            </button>
            <mat-menu #notification="matMenu">
                <button mat-menu-item class="noti-button d-flex">
                    <div>
                        <mat-icon class="float-left">notifications_none</mat-icon>
                    </div>
                    <div class="noti-wrapper"> <span class="noti-title">title</span> <br>
                        <span class="noti-description"> description</span></div>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>notifications_none</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_none</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="user" aria-label="Example icon-button with a menu">
                <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #user="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>My Profile</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>email</mat-icon>
                    <span> My Inbox</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>

            <button mat-icon-button (click)="toggleChild()" (click)=" showFirst=!showFirst" aria-label="click">
                <mat-icon *ngIf="showFirst">close</mat-icon>
                <mat-icon *ngIf="!showFirst">more_vert</mat-icon>
            </button>


        </div>

    </mat-toolbar>
</div>
<!-- <app-sidebar-right [showMePartially]="showVar"></app-sidebar-right> -->