@import 'abstracts/variables';

.content-toolbar {
    display: flex;
    justify-content: space-between;
}

.mat-toolbar{
    backround-color: red;
}

.status-circle {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}