@import 'abstracts/variables';

.searchbar-flex {
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    margin-left: auto;
    margin-right: $content-component-margin;
}