<div class="content">
  <form #taskForm="ngForm">
    <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Remark" [(ngModel)]="task.remark" name="remark" required minlength="3">
      </mat-form-field>
    </div>

    <div *ngIf="taskForm?.controls?.remark?.errors?.required" style="color: red">
      Remark is required.
    </div>

    <div *ngIf="taskForm?.controls?.remark?.errors?.minlength" style="color: red">
      Remark must be at least 5 characters long.
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-button (click)="save()" cdkFocusInitial [disabled]="!taskForm?.valid">Save</button>
    </div>
  </form>
</div>
