@import 'abstracts/variables.scss';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'base/reset';
@import 'base/typography';

@import 'layouts/grid';

@import 'themes/dark';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mandalore-primary: mat-palette($mat-cyan);
$mandalore-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mandalore-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mandalore-theme: mat-light-theme($mandalore-primary, $mandalore-accent, $mandalore-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mandalore-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Define general settings for table views
// table views contain a header and a content section
// @Header: use mat-toolbar
.table-view-header{
    margin: $content-component-margin;
}

.table-view-content{
    display: flex;
    justify-content: space-between;
}

// Define general settings for tables 
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-component{
    margin: $content-component-margin;
    padding: $content-component-padding;
}

table {
    width: 100%;
}

.mat-cell, .mat-header-cell{
    text-align: left;
    min-width: $min-column-width;
}
