@import 'abstracts/variables';
@import 'abstracts/mixins';

.mat-form-field{
  width: 100%;
}

@include mat-table-columns((
  select: (width: $checkbox-column-width),
  mission: (width: $name-column-width),
  edit: (width: $edit-column-width)
));
