@import 'abstracts/variables';
@import 'abstracts/mixins';

.mat-form-field{
  width: 100%;
}

@include mat-table-columns((
  select: (width: $checkbox-column-width),
  system: (width: $name-column-width),
  mission: (width: $name-column-width),
  name: (width: $name-column-width),
  priority: (width: $priority-column-width),
  short_desc: (width: $short-desc-column-width),
  edit: (width: $edit-column-width)
));

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
