<div class="table-component mat-elevation-z2">
    <!-- Component Header -------------------------------------------------------------->
        <div class="table-header">
            <h3>Suppliers</h3>
            <div>
              <button mat-icon-button (click)="openAddDialog();"><i class="material-icons">add</i></button>
              <button mat-icon-button (click)="delete();"><i class="material-icons">delete_outline</i></button>
            </div>
        </div>
    
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    <!-- END: conent Header ------------------------------------------------------------->

<!-- Data Table -------------------------------------------------------------------->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
      
    <!-- Checkbox Column --------------------------------------------------------->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Name Column ----------------------------------------------------------->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Country Code Column ------------------------------------------------------->
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country Code </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <ng-container matColumnDef="address1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address Line 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
    </ng-container>

    <ng-container matColumnDef="address1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address Line 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.address2}} </td>
    </ng-container>

    <ng-container matColumnDef="address1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address Line 3 </th>
        <td mat-cell *matCellDef="let element"> {{element.address3}} </td>
    </ng-container>

    <ng-container matColumnDef="address1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address Line 4 </th>
        <td mat-cell *matCellDef="let element"> {{element.address4}} </td>
    </ng-container>


    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="edit(element);"><i class="material-icons">more_vert</i></button></td>
    </ng-container>
    
    <!-- Table Row Definition -------------------------------------------------->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="toggleSelection($event, row)">
    </tr>
  </table>
<!-- TABLE END ------------------------------------------------------------------->
  
</div>