
<div class="table-view-header">
    <mat-toolbar class="mat-elevation-z2">
        <span>Site Configuration</span>
        <app-filter (areaChanged)="changeArea($event)"></app-filter>
    </mat-toolbar>
</div>

<div class="table-view-content">
    <app-systems [selectedArea]="selectedArea" (systemsChanged)="changeSystem($event)"></app-systems>
    <app-components [selectedSystem]="selectedSystem" (componentsChanged)="changeComponent($event)"></app-components>
    <app-missions [selectedComponent]="selectedComponent" (missionsChanged)="changeMission($event)"></app-missions>
    <app-tasks  [selectedMission]="selectedMission" (tasksChanged)="changeTask($event)"></app-tasks>
</div>






