
<div class="table-view-header">
    <mat-toolbar class="mat-elevation-z2">
        <span>Site Model</span>
        <app-filter (areaChanged)="changeArea($event)"></app-filter>
    </mat-toolbar>
</div>

<div class="table-view-content">
    <app-systems [selectedArea]="selectedArea" (systemsChanged)="changeSystems($event)"></app-systems>
    <app-components [selectedSystems]="selectedSystems" (componentsChanged)="changeComponents($event)"></app-components>
    <app-missions [selectedComponents]="selectedComponents"></app-missions>
</div>






