
<mat-card class="mat-elevation-z15">
    <mat-card-title>simply Care</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
    <mat-card-content>
        <p>
            Please log in with your provided user crededentials or register yourself!
            By the way: I'm a pretty ugly login at the moment, but maybe I become nice one day.
            Look yourself in the mirror, bastard!
        </p>
    </mat-card-content>

    <mat-card-actions>
        <a routerLink="{{link}}">
            <button mat-raised-button color='accent'>Login!</button>
        </a>
        <button mat-raised-button>Register</button>
        <button mat-raised-button>Info</button>
    </mat-card-actions>
</mat-card>