
<mat-card class="mat-elevation-z15">
    <mat-card-title>simply Care</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
    <mat-card-content>
        <p>I'm an ugly bastard login but one day I will be a beautiful butterfly</p>
        <form class="login-form">
            <mat-form-field>
                <input matInput placeholder="User Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
        </form>

    </mat-card-content>

    <mat-card-actions>
        <a routerLink="{{link}}">
            <button mat-raised-button color='accent'>Login!</button>
        </a>
        <button mat-raised-button>Register</button>
        <button mat-raised-button>Info</button>
    </mat-card-actions>
</mat-card>
