<div class="content">
    <form #systemForm="ngForm">
        <h1 mat-dialog-title>{{title}}</h1>

        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Sitename" [(ngModel)]="site.name" name="name" required minlength="3">
            </mat-form-field>
        </div>
        <div *ngIf="systemForm?.controls?.name?.errors?.required" style="color: red">
                Name is required.
        </div>
        <div *ngIf="systemForm?.controls?.name?.errors?.minlength" style="color: red">
                Name must be at least 3 characters long.
        </div>

        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Priority" [(ngModel)]="system.priority" name="priority" required>
            </mat-form-field>
        </div>
        <div *ngIf="systemForm?.controls?.priority?.errors?.required" style="color: red">
                Priority is required.
        </div>

        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Country" [(ngModel)]="site.country" name="country" required minlength="3" maxlength="3">
            </mat-form-field>
        </div>
        <div *ngIf="systemForm?.controls?.name?.errors?.required" style="color: red">
                Country is required.
        </div>
        <div *ngIf="systemForm?.controls?.name?.errors?.minlength" style="color: red">
                Country must be 3 characters long.
        </div>

        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Street + Streetnumber" [(ngModel)]="site.andress_line_1" name="name" required minlength="3">
            </mat-form-field>
        </div>
        <div *ngIf="systemForm?.controls?.name?.errors?.required" style="color: red">
                Adress is required.
        </div>
        <div *ngIf="systemForm?.controls?.name?.errors?.minlength" style="color: red">
                Adress must be at least 3 characters long.
        </div>

        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="PLZ + City" [(ngModel)]="site.andress_line_2" name="name">
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="cancel()">Cancel</button>
            <button mat-button (click)="save()" cdkFocusInitial [disabled]="!systemForm?.valid">Save</button>
        </div>
    </form>   
</div>


