<div style="width: 100%;">
    <!--    Achtung Mat toolbar default styling ist wie die bar beim site model. ggf. ein anderes element wählen oder 
            eine custom klasse einführen. z.B. content-toolbar                                                          -->
    <mat-toolbar class="content-toolbar">
        
        <span> Status Backend: <span class="status-circle" ></span></span>
        
    </mat-toolbar>
</div>
<!-- <app-sidebar-right [showMePartially]="showVar"></app-sidebar-right> -->