<h1 mat-dialog-title>Add new system</h1>
<!--div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Systemname" formControlName="name">
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Priority" formControlName="priority">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div-->
