<div class="table-component mat-elevation-z2">

    <div class="table-header">
        <h3>Client</h3>
        <!--div>
          <button mat-icon-button (click)="openDialog();"><i class="material-icons">add</i></button>
          <button mat-icon-button (click)="delete();"><i class="material-icons">delete_outline</i></button>
        </div-->
    </div>

    <div class="form">
        <mat-form-field>
            <input matInput placeholder="Name" value="AnyCompany Inc." readonly>
            
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Country" value="AUSTRIA" readonly>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Address Line 1" value="Körblergasse 42" readonly>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Address Line 2" value="Steiermark" readonly>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Address Line 3" value="Graz" readonly>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Address Line 4" value="A-8020" readonly>
        </mat-form-field>
    </div>
</div>
